<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
OnwardPathMetadataTracker query</title></head>
<body>

<@table OnwardPathMetadataTracker_Queries@>
<table border=1><caption><strong>Query Definition Table</strong></caption>
<tr>
	<td>name</td><td>queryStr</td><td>parameters</td>
</tr>
<tr>
	<td>qGetRevisionCurrent</td>
	<td>Select * from Revisions,DocMeta where Revisions.dID=DocMeta.dID and Revisions.dID=?</td>
	<td>dID varchar</td>
</tr>
<tr>
	<td>IRevisionMetaValue</td>
	<td>INSERT INTO METAUPDATETRACKER  (docID, contID,  updatedUser, metaName, metaOldValue,
		metaNewValue,metaUpdateDate) values(?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP)</td>
	<td>docID varchar
	    contID varchar
	    updatedUser varchar
	    metaName varchar
	    metaOldValue varchar
	    metaNewValue varchar</td>
</tr>
<tr>
	<td>QMetaTracker</td>
	<td>Select * from METAUPDATETRACKER Where docID= ? ORDER BY metaUpdateDate DESC</td>
	<td>docID varchar</td>
</tr>
<tr>
	<td>QMetaDefinition</td>
	<td>Select * from DOCMETADEFINITION</td>
</tr>
</table>
<@end@>
</body>
</html>
